name: ci

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
    timeout-minutes: 5
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup latest deno version
        uses: denolib/setup-deno@v2
        with:
          deno-version: v1.7.0

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint --unstable

      - name: Test install
        run: deno run --allow-run --allow-read ./install.ts

      - name: Test
        run: deno test --unstable -A
